<h1>Bonjour {{ people.nom }} ,</h1>

<h3>Votre message a bien été envoyé.</h3>
<br>
<p>Nous avons bien reçu votre message, et nous vous recontacterons dès que possible sur cette même adresse mail.</p>
<p>Merci de nous avoir contactez et à bientot !</p>
<br>
<p>La troupe Wildcircus !</p>