{% extends 'base.html.twig' %}

{% block title %}Programme WildCircus{% endblock %}

{% block body %}
    <section>
        <h2>Première partie</h2>
        <div>
            <h3>David le clown !</h3>
            <p>
                Un artiste ancré dans la tradition du cirque russe.
                Véritable clown fédérateur et décalé.
                Il fera rire petits et grands
            </p>
        </div>
        <div>
            <h3>Ovilier le funambule</h3>
            <p>
                Funambules à grande hauteur qui jouent les équilibristes sur un simple câble.
                Dans la tradition funambulesque, ces artistes se produisent en offrant beaucoup d’émotion.
            </p>
        </div>
        <div>
            <h3>Rose la dresseuse canine</h3>
            <p>Fille d’un grand dresseur avec qui elle a découvert les animaux et a renouvelé le style de présentation des numéros de chiens : du mouvement, de l’humour, et des exercices basés sur les possibilités naturelles de l’animal.</p>
        </div>
    </section>
    <section>
        <h2>Deuxième partie</h2>
        <div>
            <h3></h3>
            <p></p>
        </div>
    </section>
{% endblock %}
